<!-- RODAPÉ COM INFORMAÇÕES DO PROJETO -->
<footer>
    <h3>Projeto Multiletramentos</h3>
    <p>Baseado na obra <strong>Quarto de Despejo</strong>, de Carolina Maria de Jesus.</p>
    <div class="integrantes">
        <h4>Integrantes do Grupo:</h4>
        <ul>
            <li>Daniel Y. Senzaki</li>
            <li>Eduardo A. Lage</li>
            <li>Guilherme Braz S.</li>
            <li>Henrique Manica D.</li>
            <li>Henrique N. Lopes</li>
            <li>Vinícius C. Centurião</li>
        </ul>
    </div>
    <p class="instituicao">Colégio Técnico de Campinas (COTUCA) • UNICAMP</p>
</footer>