<!-- CABEÇALHO COM LOGO E MENU DE NAVEGAÇÃO -->
<header>
    <div class="logo-area">
        <a href="https://www.cotuca.unicamp.br/" target="_blank" rel="noopener noreferrer" class="absolute left-20">
            <img src="assets/logo-cotuca.png" alt="Logo Cotuca">
        </a>
        <div class="titulo-site">
            <h2>Quarto de Despejo</h2>
            <p>Projeto Multiletramentos</p>
        </div>
        <a href="https://www.unicamp.br/" target="_blank" rel="noopener noreferrer" class="absolute right-20">
            <img src="assets/logo-unicamp.png" alt="Logo Unicamp">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="autora.html">A Autora</a></li>
            <li><a href="livro.html">O Livro</a></li>
            <li><a href="realidade.html">Brasil Atual</a></li>
            <li><a href="galeria.html">Galeria</a></li>
        </ul>
    </nav>
</header>